<?xml version="1.0" encoding="utf-8" ?>
<configuration>    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DownloadFile.Properties.Settings>
            <setting name="DownloadFile_ReferenceWSCtrlPc_WSCtrlPc" serializeAs="String">
                <value>http://192.168.1.24:8030/WSCtrlPc.asmx</value>
            </setting>
        </DownloadFile.Properties.Settings>        
    </applicationSettings>
    <appSettings>
        <add key="linkDownload" value="http://192.168.1.23:3000/telecharger/"/>
    </appSettings>
</configuration>